<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <h4>{{error}}</h4>
    <label>Username</label>
    <input type="text" name="username" placeholder="username..."/>
    <span style="color:red">{{username}}</span>
    <br/>
    <label>Password</label>
    <input type="password" name="password" placeholder="password..."/>
    <span style="color:red">{{password}}</span>
    <br/>
    <button type="submit">Login</button>
</form>
</body>
</html>